{% load static %}  {% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
  
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />

  <!-- monteserrat font -->
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
  />
  <!-- social-icons -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
   <!-- iconic -->
  <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">


  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'blog/main.css' %}"
  />
  <title>Avasco</title>

  <link rel="shortcut icon" href="{% static 'favicon.png' %}" />
</head>

<body>
  <header >
    <div class=" progress-container">
      <div class="progress-bar" id="myBar"></div>
    </div> 
    <nav
      class="navbar navbar-expand-md navbar-light fixed-top"
      style="background-color: #ffffff;"
    > 

   <div class="container">
        <!-- <img src="{% static 'avas.png' %}" class="brand" alt="no image" /> -->
        <a href="{% url 'blog-home'%}">
          <div class="title" style="color: #121c58;">avasco</div>
        </a>
        <a
          class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3"
          data-toggle="collapse"
          data-target="#navbarToggle"
          aria-controls="navbarToggle"
          aria-expanded="false"
          aria-label="Toggle  navigation"
        >
          <svg
            width="3em"
            height="3em"
            viewBox="0 0 16 16"
            class="bi bi-justify-right"
            fill="#002266"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
            />
          </svg>
        </a>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'blog-home' %} "
              >Home</a
            >
            <a class="nav-item nav-link" href="{% url 'blog-about' %} "
              >About</a
            >
            <a class="nav-item nav-link" href="{% url 'posts' %}"
              >Events</a
            >
            <a class="nav-item nav-link" href="{% url 'gallery' %}"
              >Gallery</a
            >
            <a class="nav-item nav-link" href="{% url 'members' %}"
              >Committee</a
            >
          </div>
        </div>
      </div>
    </div>  
    </nav>
  </header>
<div class="page ">
  {% block content %}{% endblock %}
</div>
    


  
<footer style="padding: 30px 5px; background-color:#eaedff; line-height:2em;">
  <div class="container"  >
    <div class="row justify-content-center footer-text">
      <div class="col-md-4">
        <h5 class="footer-title" style="font-weight: 800;">Contact Us</h5>
        <br />
        Avasco Aviyoor, near Aviyoor School
        <br />
        Edakkara, Chavakkad, Thrissur 
        <br>

        <a href="https://maps.app.goo.gl/aSoSHUyyFsuMZMsB6" style="color: rgb(70, 69, 69);"><ion-icon name="location-outline"></ion-icon> See on Map</a>   


        <br /> <br /> 
        Phone: <a href="tel:{% president %}"  style="color: rgb(70, 69, 69);">+{% president %} (President)  </a>
        <br>  &emsp;&emsp;&emsp;&ensp; <a href="tel:{% secretary %}"  style="color: rgb(70, 69, 69);">+{% secretary %} (Secretary) </a>
        <br><br>
      </div>


      <div class="col-md-4">
        <h5 class="footer-title" style="font-weight: 800;">Resources</h5>
        <a class="footer-text" href="{% url 'blog-home'%}">Home</a>
        <br />
        <a class="footer-text" href="{% url 'blog-about' %}">About</a>
        <br />
        <a class="footer-text" href="{% url 'posts' %}">Events</a>
        <br />
        <a class="footer-text" href="{% url 'gallery' %}">Gallery</a>
        <br />
        <a class="footer-text" href="{% url 'timeline' %}">Time Line</a>
        <br />
        <a class="footer-text" href="{% url 'members' %}">Committee & Members</a>
        <br />
        <a class="footer-text" href="{% url 'admin:index' %}">Admin Panel</a>
      </div>
    </div>
  </div>

  <hr style="height: 2px; color: floralwhite;" />
 
  <div style="text-align: center;">
    <p class="social-icons">
        <a class="facebook" href="https://www.facebook.com/groups/AVSCO.2016/?ref=share"><i class="fa fa-facebook"></i></a>

        <a
          class="instagram"
          href="https://instagram.com/avascoaviyoor?igshid=zagdu0ghrwjp"
          ><i class="fa fa-instagram"></i
        ></a>

        <a
          class="instagram"
          href="mailto:avascoaviyoor@gmail.com"
          >
          <ion-icon name="mail" ></ion-icon>
        </a>

        <a class="whatsapp" href="http://wa.me/918606254212"><i class="fa fa-whatsapp"></i></a>
    </p>
  </div>
  <br>
  <div class="footer-text" style="text-align: center;">
    <a href="{% url 'blog-home'%}" class="title" style="color: #121c58; padding: 0px !important;">avasco</a>  © 2020
  </div>
</div>
  
</footer>

    <!-- Optional JavaScript -->
    <script>
      window.onscroll = function () {
        myFunction();
      };

      function myFunction() {
        var winScroll =
          document.body.scrollTop || document.documentElement.scrollTop;
        var height =
          document.documentElement.scrollHeight -
          document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById("myBar").style.width = scrolled + "%";
      }
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI "
      crossorigin="anonymous "
    ></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
  </body>
</html>
