{% extends "blog/base.html" %} {% load static %} {%block content%}

<legend class="page-title">Gallery</legend>

<div class="row card-group justify-content-center col-md-12">
  {% for homepic in homepics %} 
  <figure class="col-md-4  justify-content-center">
   <a href="{{ homepic.image.url }}"> 
     <img
      class="card-img"
      src="{{ homepic.image.url }}"
      alt="Card image cap"
    /></a>
    </figure>
{% endfor %}
{% for timeline in timelines %} 
<figure class="col-md-4  justify-content-center">
  <a href="{{ timeline.image.url }}"> 
  <img
    class="card-img"
    src="{{ timeline.image.url }}"
    alt="Card image cap"
  /></a>
  </figure>
{% endfor %}
  {% for post in posts %}
    {% if post.image_1 %}
    <figure class="col-md-4  justify-content-center">
      <a href="{{ post.image_1.url }}"> 
    <img
      class="card-img"
      src="{{ post.image_1.url }}"
      alt="{{post.title}}"
    /></a>
    </figure>
    {% endif %}
    {% if post.image_2 %}
    <figure class="col-md-4  justify-content-center">
      <a href="{{ post.image_2.url }}"> 
    <img
      class="card-img"
      src="{{ post.image_2.url }}"
      alt="{{post.title}}"
    /></a>
    </figure>
    {% endif %}
    {% if post.image_3 %}
    <figure class="col-md-4  justify-content-center">
      <a href="{{ post.image_3.url }}"> 
    <img
      class="card-img"
      src="{{ post.image_3.url }}"
      alt="{{post.title}}"
    /></a>
    </figure>
    {% endif %}
  {% endfor %}
  </div>
</div>


{% endblock content%}
