{% extends "blog/base.html" %} {%block content%} {% load crispy_forms_tags %}

<div class="content-section">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <h1 class=" mb-4 title">Edit Post</h1>
      {{form|crispy }}
    </fieldset>
    <div class="form-group" style="text-align: right;">
      {% if object %}
      <button class="btn btn-success btn-lg active" style="color: white; font-weight: bolder;" type="submit">UPDATE</button>
      <a class="btn btn-danger btn-lg active" href="{% url 'post-delete' object.id  %}"> DELETE</a>
      {% else %}
      <button class="update" type="submit">Save</button>
      {% endif %}
    </div>
  </form>
  <div style="text-align: right;">
    <a class="editbtn" href="{% url 'posts' %}">CANCEL</a>
  </div>
</div>

{% endblock %}
