{% extends "blog/base.html" %} {% load static %} {%block content%}

<legend class="page-title">Post</legend>

<!-- LATEST POSTS -->

<div class="card-columns">
  {% for post in posts %}
  <div class="card">
    {% if post.image_1 %}
    <img
      class="card-img-top"
      src="{{ post.image_1.url }}"
      alt="Card image cap"
    />
    {% endif %}
    <div class="card-body">
      <a href="{% url 'post-detail' post.id %}">
        <h5 class="card-title">{{ post.title }}</h5>
      </a>
      <p class="card-text">{{ post.date_posted|date:"F j, Y" }}</p>
    </div>
  </div>
  {% endfor %}

  <div style="text-align: right; padding: 20px">
    <a class="editbtn" href="{% url 'post-create' %}">
      ADD EVENT
    </a>
  </div>
</div>

{% endblock content%}
